
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,a,p{
    font-family: 'Poppins', sans-serif;
}

/*  Header */
header{
    position: fixed;
    display: inline-block;
    width: 100%;
    align-items: center; 
    height: 80px;
    background-color: #D9E4E7;
}

.nav {
    padding-left: 441px;
    padding-top: 29px;
    justify-content: center;

}

.nav a {
    text-align: center;
    padding: 10px ;
    text-decoration: none;
   
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 72% */

    letter-spacing: 0.5px;

    color: #2F3338;

}

.nav a:hover {
    text-decoration: underline;
}

header #img-header{
    float: left;
    height: 80px;
    padding-left: 46px;
}
.login{
    position:relative;
    float: right;
    top: -50px;
}
#button-longin{

    text-decoration: none;
    text-align: center;
    padding-left: 30px;
    background-color: #F5F2EC;;
    color: #2F3338;
    border-radius: 0  0  0 50px;
    border:none;


    height: 80px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

  }

  #button-longin:hover{
    background-color: #2F3338;;
    color: #F5F2EC;
  }


/* BODY E MAIN */


main{
    display: flex; /* Sets entrire card element to be a flex container */
	flex-direction:column; /* Forces elements to align along the vertical axis */
}

#main{
background-image: url("Midias/back.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.titulo-home{
    width: 35%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 72px;
    color: #0b407e;
    text-shadow: 0px 5px 10px #ffdb11;
    padding-right: 50%;
    padding-top: 20%;
    padding-left: 30px;
}


#container-home-masculino{
    display: flex;
	flex-direction:column; 
    width: 100%;
  height: 100%;
    background-color: #D9E4E7;
}

#pallax2{
    background-image: url("Midias/back.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}



.grid-container-home{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 4em;
    padding: 5em 10em;

}

.modelos {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    box-shadow: 5px 2px 5px rgba(94, 94, 94, 0.76);
    background-color: white;
}

.modelos:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
}

.modelos >img{
    height: 400px;
  
}

.modelos h3 {
    padding: 0.2em 0;
}

.modelos  p {
    padding: 0 1em 1em 1em;
}

.desc-masc {
    background-image: url(./img/dimi-katsavaris-wM_r98b24tI-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 2em 0;
}

.container-1 {
    background-color: rgb(217, 228, 231);
    position: relative;
    font-size: 1.3em;
    text-align: center;
    width: 350px;
    height: 341px;
    left: 770px;
    top: 50px;
    box-shadow: 1px 18px 20px rgba(70, 71, 73, 0.521);
    padding: 0.6em;
}

.container-2 {
    background-color: #D9E4E7;
    position: relative;
    font-size: 1.3em;
    text-align: center;
    width: 350px;
    height: 341px;
    left: 97px;
    top: -100px;
    box-shadow: 1px 18px 20px rgba(70, 71, 73, 0.521);
    padding: 0.6em;
}

.container-1:hover, .container-2:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
} 

.titulo-modelos{
   text-align: center; 
   padding-top: 50px;
}

/* COMENTARIO */

#comentario{
background-image: url("Midias/back.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}



/*  FOOTER */

footer{

    background-color: #D9E4E7;
    width: 100%;
}

    .grid-footer {
       
        display:grid;
        height: 383px;
        width: 1348px;
        grid-template-columns: 300px 300px 300px;
        grid-auto-rows: minmax(30px, auto);
        grid-auto-columns: 30px;
        grid-column-gap: 10px;
        justify-content: space-around;
        border-bottom: 1px solid #2F3338 ;
        
     }
        

     .grid-footer-item {
        width: 359px;
        height: 100px;
        padding-top: 35px;
        padding-left: 0px;
        justify-content: center;
        align-items: baseline;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: #2F3338;
   }


   .grid-footer-links{
    display:grid;
    height: 383px;
    width: 1348px;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: minmax(30px, auto);
    grid-auto-columns: 30px;
    grid-column-gap: 10px;
    justify-content: space-around;
   }

   .grid-footer-links-item {
    width: 359px;
    height: 100px;
    padding-top: 55px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    line-height: 22px;
   }

   .grid-footer-links-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #2F3338;
    font-style: bold; 
   }

   .grid-footer-links-item a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2F3338;
    text-decoration: none;
   }

   .grid-footer-links-item a:hover {
    text-decoration: underline;
}


