/** CSS GERAL**/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    color: #3b4849;
}


/*CSS LINHA MASCULINA*/

.masc {
    font-family: 'Poppins', sans-serif;
    color: #3b4849;
    background-color: #d9e4e7;
    padding-top: 1em;
}

.masc h1 {
    margin: 1em 0;
    font-size: 2em;
    text-align: center;
}

.masc h1 span {
    color: rgb(4, 95, 107);
}

.masc hr {
    margin: auto;
    width: 1000px;
    color: #3b4849;
}

.linha-masc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 4em;
    padding: 5em 10em;

}

.modelos-m {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    box-shadow: 5px 2px 5px rgba(94, 94, 94, 0.76);
    background-color: white;
}

.modelos-m:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
}

.modelos-m img{
    height: 425px;
    width: 100%;
}

.modelos-m h3 {
    color: rgb(4, 95, 107);
    padding: 0.2em 0;
}

.modelos-m  p {
    padding: 0 1em 1em 1em;
}

.desc-masc {
    background-image: url(./img/brian-lundquist-EI9Nfg2KOe4-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin:0;
}

.desc-masc .container-1 h3 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.desc-masc .container-1 h3 span {
    font-size: 1.5em;
    color: rgb(4, 95, 107);
}

.desc-masc .container-2 h3 {
    font-size:20px;
    text-align: center;
    padding: 5px;
}

.desc-masc .container-2 h3 span {
    font-size: 1.5em;
    color: rgb(4, 95, 107);
}
.container-1 {
    background-color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    width: 564px;
    height: 221px;
    left: 870px;
    top: 850px;
    box-shadow: 1px 18px 20px rgba(70, 71, 73, 0.521);
    border-radius: 20px;
    padding: 0.6em;
}

.container-2 {
    background-color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    width: 564px;
    height: 221px;
    left: 77px;
    top: 1100px;
    box-shadow: 1px 18px 20px rgba(70, 71, 73, 0.521);
    border-radius: 20px;
    padding: 0.6em;
}

.container-1:hover, .container-2:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
}

/*CSS LINHA FEMININA*/

.fem {
    font-family: 'Poppins', sans-serif;
    color: #3b4849;
    background-color: #d9e4e7;
    padding-top: 1em;
}

.fem h1 {
    margin: 1em 0;
    font-size: 2em;
    text-align: center;
}

.fem h1 span {
    color: rgb(208, 52, 223);
}

.fem hr {
    margin: auto;
    width: 1000px;
    color: #3b4849;
}

.linha-fem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 4em;
    padding: 5em 10em;

}

.modelos-f {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    box-shadow: 5px 2px 5px rgba(94, 94, 94, 0.76);
    background-color: white;
}

.modelos-f:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
}

.modelos-f img{
    height: 425px;
    width: 100%;
}

.modelos-f h3 {
    color: rgb(208, 52, 223);
    padding: 0.2em 0;
}

.modelos-f  p {
    padding: 0 1em 1em 1em;
}

.desc-fem {
    background-image: url(./img/xan-griffin-PYDBN_GiQtY-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 2em 0;
}

.desc-fem .container-3 h3 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.desc-fem .container-3 h3 span {
    font-size: 1.5em;
    color: rgb(208, 52, 223);
}

.desc-fem .container-4 h3 {
    font-size:20px;
    text-align: center;
    padding: 5px;
}

.desc-fem .container-4 h3 span {
    font-size: 1.5em;
    color: rgb(208, 52, 223);
}

.container-3 {
    background-color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    width: 564px;
    height: 221px;
    left: 870px;
    top: 2400px;
    box-shadow: 1px 18px 20px rgba(70, 71, 73, 0.521);
    border-radius: 20px;
    padding: 0.6em;
}

.container-4 {
    background-color: white;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    width: 564px;
    height: 221px;
    left: 77px;
    top: 2700px;
    box-shadow: 1px 18px 20px rgba(70, 71, 73, 0.521);
    border-radius: 20px;
    padding: 0.6em;
}

.container-3:hover, .container-4:hover {
    transform: scale(1.1);
    transition: 1.5s;
    cursor: pointer;
}